@use 'variables' as *;

body {
  font-family: $font-family;
  background-color: $third-background-color;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

main {
  flex: 1;
  width: 100%;
}

.container {
  background-color: $primary-background-color;
  color: $text-color;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $container-padding;
  transition: padding $anim-duration ease-in-out;

  @media (max-width: $mobile) {
    padding: 0 $container-padding-mobile;
  }
}