$primary-line-color: #ff5a1f;
$secondary-line-color: #ff6b6b;
$primary-background-color: #363333;
$secondary-background-color: #111111;
$third-background-color: #858080;
$text-color: #fefefe;
$font-family: 'Arvo', sans-serif;
$title-font-family: 'Bree Serif', serif;

// Layout
$max-width: 1440px;
$container-padding: 50px;
$container-padding-mobile: 10px;

// Breakpointsq
$tablet: 1024px;
$mobile: 768px;
$mobile-very-small: 350px;

// Animations
$anim-duration: 0.3s;
$sliding-duration: 0.4s;
